.bodybox{
    position: relative;
    top: 0.2cm;
    height: 20cm;
    width: 19.6cm;
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
}
.coll1{
    -ms-flex-order: 1;
    width: 6.4cm;
    display: flex;
    flex-direction: column;
}
.coll2{
    -ms-flex-order: 2;
    width: 6.4cm;
    margin-left: 1mm;
    display: flex;
    flex-direction: column;
}
.coll3{
    -ms-flex-order: 3;
    width: 6.4cm;
    margin-left: 1mm;
    display: flex;
    flex-direction: column;
}
.abilitybox{
    -ms-flex-order: 1;
    position: relative;
    top: 1mm;
    left: 1mm;
    border: 1px black solid;
    height: 15cm;
    width: 6.4cm;
}
.abilities-title{
    margin-top: 5mm;
}
.abilities-list{
    margin-top: 3mm;
    margin-left: 8mm;
    text-align: left;
}
.experience-box{
    -ms-flex-order: 2;
    margin-top: 3mm;
    margin-left: 1mm;
    width: 6.4cm;
    height: 4.8cm;
    border: 1px black solid;
}
.magic-sources{
    -ms-flex-order: 1;
    margin-top: 1mm;
    margin-left: 1mm;
    width: 6.4cm;
    height: 3cm;
    border: 1px black solid;
}
.source-title{
    margin-top: 5mm;
}
.source-list{
    margin-top: 3mm;
    margin-left: 1cm;
    text-align: left;
}
.magic-afinities{
    -ms-flex-order: 2;
    margin-top: 3mm;
    margin-left: 1mm;
    width: 6.4cm;
    height: 4cm;
    border: 1px black solid;
}
.afinity-title{
    margin-top: 5mm;
}
.afinity-list{
    margin-top: 3mm;
    margin-left: 5mm;
    text-align: left;
}
.blessings{
    -ms-flex-order: 3;
    margin-top: 3mm;
    margin-left: 1mm;
    height: 12.35cm;
    width: 6.4cm;
    border: 1px black solid;
}
.blessings-title{
    margin-top: 5mm;
}
.blessings-list{
    margin-top: 3mm;
    margin-left: 2mm;
    text-align: center;
}
.vitality-box{
    -ms-flex-order: 1;
    width: 6.4cm;
    height: 3cm;
    margin-left: 1mm;
    margin-top: 1mm;
    border: 1px black solid;
}
.vitality-title{
    margin-top: 5mm;
}
.vitality-table{
    margin-top: 3mm;
    margin-left: 2cm;
    text-align: center;
}
.magic-box{
    -ms-flex-order: 2;
    margin-top: 3mm;
    margin-left: 1mm;
    width: 6.4cm;
    height: 3cm;
    border: 1px black solid;
}
.magic-title{
    margin-top: 5mm;
}
.mana-table{
    margin-top: 3mm;
    margin-left: 2cm;
    text-align: center;
}
.notes{
    -ms-flex-order: 3;
    position: relative;
    top: 3mm;
    left: 1mm;
    width: 6.4cm;
    height: 13.17cm;
    border: 1px black solid;
}
.notes-title{
    margin-top: 5mm;
}