.headerbox {
    text-align: left;
    width:  19.6cm;
    height: 2.5cm;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14pt;
    display: flex;
    flex-direction: row;
}
.header-first {
    order: 1;
    height: 100%;
    left: 4mm;
    width: 9.8cm;
    display: flex;
    margin-bottom: -0.5mm;
    margin-left: -0.2mm;
    flex-direction: column;
    row-gap: 5px;
}
.header-name {
    margin-top: 1mm;
    margin-left: 4mm;
    order: 1;
}
.header-player {
    order: 3;
    margin-left: 4mm;
    margin-top: 0mm;
    margin-bottom: -0.3mm;
}
.header-ancestry {
    order: 2;
    margin-left: 4mm;
    margin-top: 0mm;
}
.header-second {
    order: 2;
    height: 100%;
    width: 9.8;
    margin-bottom: -1.4mm;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.header-ocupation {
    margin-top: 1mm;
    margin-left: 4mm;
    order: 1;
}
.header-background {
    margin-left: 4mm;
    margin-top: 0mm;
    order: 2;
}
.header-dream {
    order: 3;
    margin-left: 4mm;
    margin-top: 0mm;
    margin-bottom: -0.3mm;
}