*{
    margin: 0mm;
    padding: 0mm;
}
body {
    height: 29.7cm;
    width: 21cm;
    position: absolute;
}
.sheetbox {
    height: 28.3cm;
    width: 19.6cm;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    border: 0.2cm black solid;
    text-align: center;
}
.background-image {
    position: absolute;
    height: 28.3cm;
    width: 19.6cm;
    background-image: url('../sephiroth-tree.png');
    filter: opacity(0.2);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
td.value{
    margin-left: 3mm;
    width: 1.3cm;
    border-bottom: 2px black solid;
}
td.line{
    width: 4.4cm;
    height: 5mm;
    border-bottom: 2px black solid;
}