.stats-title {
    margin-top: 0.2cm;
    text-transform: capitalize;   
}
.stats-box {
    text-align: left;
    margin-left: 0.8mm;
    width:  19.6cm;
    height: 2.4cm;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14pt;
    display: flex;
    flex-direction: row;
}
.stats-fisics {
    order: 1;
    width: 6.4cm;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px black solid;
}
.stats-strenght {
    order: 1;
    margin-top: 2mm;
    display: flex;
    flex-direction: row;
}
.stats-dexterity {
    order: 2;
    margin-top: 1mm;
    display: flex;
    flex-direction: row;
}
.stats-stamina {
    order: 3;
    margin-top: 1mm;
    display: flex;
    flex-direction: row;
}
.stats-social {
    order: 2;
    width: 6.4cm;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0.6mm;
    border: 1px black solid;
}
.stats-manipulation {
    order: 1;
    margin-top: 2mm;
    display: flex;
    flex-direction: row;
}
.stats-charisma {
    order: 2;
    margin-top: 1mm;
    display: flex;
    flex-direction: row;
}
.stats-presence {
    order: 3;
    margin-top: 1mm;
    display: flex;
    flex-direction: row;
}
.stats-mental {
    order: 2;
    width: 6.4cm;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0.6mm;
    border: 1px black solid;
}
.stats-intuition {
    order: 1;
    margin-top: 2mm;
    display: flex;
    flex-direction: row;
}
.stats-memory {
    order: 2;
    margin-top: 1mm;
    display: flex;
    flex-direction: row;
}
.stats-wits {
    order: 3;
    margin-top: 1mm;
    display: flex;
    flex-direction: row;
}
.stats-key {
    margin-top: 0mm;
    width: 70%;
    order: 1;
    margin-left: 3mm;
}
.stats-value {
    order: 2;
    margin-top: 0mm;
    margin-left: 0px;
    height: 5mm;
    width: 1cm;
    border-bottom: 2px black solid;
}
